<html>
<head>
<title>
Apache Log Analysis
</title>
</head>
<body>
<form method="post" action="/search">
<table>
<tr><td><p><b>IP based search</b>:</td><td><input type="text" name="ip"></p></td></tr>

<tr><td><p><b>Date based search</b>:</td><td><input type="text" name="date"></p></td></tr>

<tr><td><p><b>Time based search</b>:</td><td><input type="text" name="time"></p></td></tr>

<tr><td><p><b>URL based search</b>:</td><td><input type="text" name="url"></p></td></tr>

<tr><td><p><b>Request search</b>:</td><td><input type="text" name="request"></p></td></tr>
<tr><td><p><b>Status search</b>:</td><td><input type="text" name="status"></p></td></tr>
<tr><td><p><b>Size based search</b>:</td><td><input type="text" name="size"></p></td></tr>

<tr><td><p><b>Browser based search</b>:</td><td><input type="text" name="browser"></p></td></tr>

<tr><td><p><b>Apache Log File Path</b>:</td><td><input type="text" name="fpath"></p></td></tr>

<tr><td><input type="submit"></td></tr>
</form>


</table>
</form>
</body>
</html>
